.vastusenupp {
    margin-top: 20px;
}
#kysimus {
    margin: auto;
    width: 70%;
    color: black;
    font-weight: bold;
    font-size: large;
}
.kaart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 75%;
    max-width: 90%;
}
#kaart {
    height: 300px;
}
#nimikaardil {
    position:absolute;
    max-width: 90%;
    margin-top: 200px;
}