<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Äpist natuke lähemalt
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/images/game.png" />
    <ion-card-header>
      <ion-card-title>Multimeediumi praktikum</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Rakendusinformaatika teise kursuse õppeaine "Multimeediumi praktikum" raames sai loodud HTML-il, CSS-il ja JavaScriptil põhinev mälumäng.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/game2.png" />
    <ion-card-header>
      <ion-card-title>Idee</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Praktikumi töös küsitakse mängijalt küsimusi erinevate Eesti maakondadest. Vastamisel on taimer, arvestatakse skoori ja peetakse edetabelit. Lisaks saavad kõik huvitunud ise mängu küsimusi esitada. Andmebaasina kasutatakse Firebase'i. 
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/game3.png" />
    <ion-card-header>
      <ion-card-title>Kaart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Vägev osa rakendusest on kaart - näitab, mis maakonna küsimus esitatakse ning milliste maakondade küsimustele on juba edukalt vastatud.
    </ion-card-content>
  </ion-card>
</ion-content>
